{% extends "layout.html" %}

{% block content %}
<div class="content main-wrapper">
    <div class="jumbo layout">
        <h1>About</h1>
        <p>
            Asterisk is a free and open source framework for building communications applications and is sponsored by Digium.Asterisk turns an ordinary computer into a communications server. Asterisk powers IP PBX systems, VoIP gateways, conference servers and is used by small businesses, large businesses, call centers, carriers and governments worldwide.
        </p>
    </div>
</div>
{% endblock %}
