{% extends "layout.html" %}

{% block content %}
<div class="content add-question-wrapper">
  <div class="layout">
    <h1>Add Question</h1>
    <form action="{{ url_for('add_question',id=project_page.id) }}" method=post enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="input-wrapper">
        {{ form.question.label }}
        {{ form.question }}
        {% for message in form.question.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      </div>
      <div class="input-wrapper">
        {{ form.question_type.label }}
        {{ form.question_type }}
        {% for message in form.question_type.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      </div>
      {{ form.submit }}
    </form>
  </div>
</div>
{% endblock %}

